.mobile{
    display:none;

}
.dropdown {
    float: left;
    overflow: hidden;
    margin-left:0vw !important;
    color:white !important;
    
  }
@media (max-width:425px){
    .mobile{
        display: block;
    }
}