.AppBar{
    background: #131A27 !important;
    height:80px;
    vertical-align:center;
    
}
.NavBar{
  margin-top:6px !important;
}
.dropdown {
  float: left;
  overflow: hidden;
  margin-left:1vw !important;
  align-items: center;
  
}




.dropdownContent {
  display: none;
  position: absolute;
  background-color: #192133;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  top: 40px ;
  border-radius:10px;
  z-index: 100;
  left: 25%;
  
}

.dropdownContent a {
  float: none;
  color:#ffffffcc;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-radius:10px;
  height: 22px;
  text-align: left;
  background:#192133;
}

.dropdownContent a:hover {
  background-color: #0c111b;
}
.dropdown:hover {
  overflow:visible;
}
.dropdown:hover .dropdownContent {
  display: block;

}

.mobile{
    display: none !important;
}
.Subscribe{

    outline: none;
    border: none;
    text-align: center;
    text-transform: uppercase;
    background: #1f80e0;
    border: none;
    outline: 0;
    color: #fff;
    outline-color: transparent;
    position: relative;
    outline: none !important;
    font-size: 12px;
    margin: 15px 0 15px 20px;
    padding: 0 12px;
    letter-spacing: 0.4px;
    font-weight: 700;
    height: 24px;
    line-height: 24px;
    border-radius: 4px;

}
.SignIn{
  font-weight: 500;
    text-transform: uppercase;
    color: #ffffffcc;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    padding: 13px 0;
    margin-left: 15px;
    opacity: 1;
    font-size: 14px;
}
.navItems{
  width: 100%;
  margin: 15px !important;
  display: flex;
}
.navItems ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navItems li {
  display: inline;
  overflow: hidden;
}
.navItems li  {
  margin-right: 20px;
  text-decoration: none !important;
  outline: none;
  color: #ffffffcc;
  margin-left:auto;

}
.navItems li:hover {
  color: #fff;
}
@media (max-width:425px){
  .dropdown{
      display:none !important;
  }
}